/*

    PZZZZZZT KILAT CUSTOM CSS GAMO NA BI SA MAIN
    DIRI NA MAN KO DAW PART 2 BALA :)

*/

.nonframeworkstuff{
    padding-top: 20px;
    padding-bottom: 0px;
}
.paragraph{
    font-size: 30px;
}
